<%inherit file="base.htm" />

<%block name="title">About</%block>

<%block name="content">
	
	<h3>Who are we?</h3>
	<p>The Colonial Heritage Foundation is a public charity dedicated to the preservation
	of the values, culture, skills and history of America's founding. To accomplish this
	mission, the Foundation engages in a broad array of activities. Among these are the
	development and presentation of educational exhibits, the coordination of reading
	and discussion groups to encourage the study of America's historical writings, the
	presentation of lectures regarding America's founding era, the coordination of
	historical reenactments and skill demonstrations, the coordination of
	internships and apprenticeships that teach the occupational skills of early
	America, and the coordination of public events that showcase the culture,
	skills, history, and values of America's founding era.</p>
	
</%block>