<%inherit file="base.htm" />

<%block name="title">Home</%block>

<%block name="content">
	
	<h3>Welcome! <span class="label label-info">New</span></h3>
	<p>The Colonial Heritage Festival is an annual event scheduled for the week of the Fourth of July. Running three or four days, the event attracts around 40,000 visitors each year. Held in the Scera Park in Orem, Utah, it has become the largest colonial living and reenactment event in the western United States. The festival comprises dozens of exhibits and presentations from more than 100 volunteers. The festival is free to the public.</p>
	
</%block>