<%inherit file="base.htm" />

<%block name="title">Edit User</%block>

<%block name="admin_bar">
<div id="admin_bar">
	<ul>
		<li><a href="/users">Users</a></li>
		<li><a href="/products">Products</a></li>
		<li><a href="/items">Items</a></li>
		<li><a href="/organizations">Organizations</a></li>
		<li><a href="/events">Events</a></li>
		<li><a href="/areas">Areas</a></li>
	</ul>
</div> 
</%block>

<%block name="content">
	
	<h3>Edit User:</h3>
	
	<form method="POST">
		<table>
			${ form }
		</table>
		<p><a href="/account/changepass/${ user.id }/">Change Password</a></p>
		<button class="btn btn-success" type="submit">Save</button>
		
		##TODO: Make it so you can't delete the current user and redirect to account page
		%if current == False:
			<a id="id_delete_user_btn" class="btn btn-danger" href="/homepage/users.delete/${ user.id }">Delete Account</a>
			<a id="id_cancel_btn" class="btn btn-default" href="/homepage/users/">Cancel</a>
		%else:
			<a id="id_cancel_btn" class="btn btn-default" href="/account/">Cancel</a>		
		%endif
	</form>	
</%block>